@model IEnumerable<PCPartForum.Models.Electronic>

@{
    ViewData["Title"] = "Welcome to PCPartForum!";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Message</h1>
    <h1 class="display-4">Recent Releases</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
